<app-nav-menu></app-nav-menu>
<h1>User List</h1>
<div *ngIf="userList">
  <dx-tabs class="tabs" #apiTabs
           [dataSource]="tabs"
           [selectedIndex]="0"
           (onItemClick)="GetUsersByRole($event)"></dx-tabs>
  <dx-data-grid id="gridContainer"
                [dataSource]="userList"
                [remoteOperations]="false"
                [allowColumnReordering]="true"
                [rowAlternationEnabled]="false"
                [showBorders]="true"
                (onCellClick)="openUser($event)">

    <dxi-column dataField="id" alignment="left" width="35px"></dxi-column>
    <dxi-column dataField="userName" width="161px"></dxi-column>
    <dxi-column dataField="firstName" width="150px"></dxi-column>
    <dxi-column dataField="lastName" width="150px"></dxi-column>
    <dxi-column dataField="email" width="150px"></dxi-column>
    <dxi-column dataField="phoneNumber" width="130px"></dxi-column>
    <dxi-column dataField="fax" width="130px"></dxi-column>
    <dxi-column dataField="companyName"></dxi-column>
    <dxi-column dataField="address" width="200px"></dxi-column>
  </dx-data-grid>
</div>

