<app-nav-menu></app-nav-menu>
<h1>User List</h1>
<div *ngIf="userList">
  <dx-tabs class="tabs" #apiTabs
           [dataSource]="tabs"
           [selectedIndex]="0"
           (onItemClick)="GetUsersByRole($event)"></dx-tabs>
  <dx-data-grid id="gridContainer"
                [dataSource]="userList"
                [remoteOperations]="false"
                [allowColumnReordering]="true"
                [rowAlternationEnabled]="false"
                [showBorders]="true"
                (onCellClick)="openUser($event)">

    <dxi-column dataField="id" alignment="left"></dxi-column>
    <dxi-column dataField="userName"></dxi-column>
    <dxi-column dataField="email"></dxi-column>
  </dx-data-grid>
</div>

